header {
    border: 1px solid red;
    width: 1000px ;
    height: 100px;
    
}
@media (max-width: 375px) {
    header{background-color: blue;}
    

}
@media (min-width: 768px) and (orientation: landscape) {
    header{background-color: black;}

}
@media (min-width: 1000px) {
    header{background-color: aqua;}
}
header img{ 
    height: 100px;
    float: left;

    
}
ul li{
    
    width: 200px;
    display: inline;
    margin-right: 15px;
    font-family: 'Viga', sans-serif;
    flex-wrap: wrap ;
    float: right

}

@media (min-width: 768px) and (orientation: landscape) {
    header img{ 
        height: 100px;
        float: left;
        display: none;
        
    }  
}